.form-container {
    display:block;
   /*width:90%;*/
    padding:2em;
    margin: 2em auto;
    background:#fff;
   
}

h1{
font-family: adobe-garamond-pro;
}

h3{
font-family: adobe-garamond-pro;
}

p{
font-family: adobe-garamond-pro;
font-size: 20px;
}

.row > .form-container:first-child {
    float: left;
}

/*.rTableBody 
{ display: table-row-group; 
  word-wrap:break-word;
}
.rTableRow { 
    display: table-row; 
    word-wrap:break-word; 
    }
.rTableCell { 
display: table-cell;
word-wrap:break-word;
}
.rTableCells 
{ 
    width:20%;                          
}*/

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.button {
    margin-top: 3rem;
}


.alert {
    background: #f2edda;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 2s alertAnim forwards;
}

@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}   