<form [formGroup] = "signupForm" (ngSubmit) = "onSubmit()">

      <div class="form-group">
        <input type="text" id="firstname" name="firstname" formControlName="firstname" placeholder="First Name">
        <span
          *ngIf="!signupForm.get('firstname').valid && signupForm.get('firstname').touched"
          class="help-block"> Please Enter First Name (Minimum 2 Characters)</span>
      </div>
      <div class="form-group">
        <input type="text" id="lastname" name="lastname" formControlName="lastname" placeholder="Last Name">
        <span
          *ngIf="!signupForm.get('lastname').valid && signupForm.get('lastname').touched"
          class="help-block"> Please Enter Last Name (Minimum 2 Characters)</span>
      </div>

      <div class="form-group">
      <button type="submit" class="btn btn-success btn-lg btn-qte" >Create Account</button>
      </div>

    </form>
