
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<footer class="footer">
			<div class="top">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<h4><u>Address</u></h4>
							<p><md-icon>home</md-icon></p>
							<p>#25/34, Ground Flr, Nainiappa Street,<br>Chintadripet, Chennai.<br>TamilNadu, India.</p>
						</div> <!-- end .col-sm-4 -->
						<div class="col-sm-4 social">
							<h4>Let's Social</h4>
							<div class="social-icons">
								<a href="" class="social-icon"><i class="fa fa-facebook"></i></a>
								<a href="" class="social-icon"><i class="fa fa-twitter"></i></a>
								<a href="" class="social-icon"><i class="fa fa-google-plus"></i></a>
								<a href="" class="social-icon"><i class="fa fa-youtube"></i></a>
								
							</div> <!-- end .social-icons -->
						</div> <!-- end .col-sm-4 -->
						<div class="col-sm-4">
							<h4><u>Contact</u></h4>
							<table class="table-responsive" align="center" style="border: 0px; width: auto;">
								<tr >
									<td style="padding: 6px;" align="right"><md-icon>phone</md-icon></td>
									<td align="left">+91 994-058-2916</td>
								</tr>
								<tr>
									<td style="padding: 6px;" align="right"><md-icon>email</md-icon></td>
									<td align="left">ursenix@gmail.com</td>
								</tr>
								<tr>
									<td style="padding: 6px; font-size: 22px;" align="right"><i class="fa fa-skype"></i></td>
									<td align="left">ursenix@hotmail.com</td>
								</tr>
							</table>
							
						</div> <!-- end .col-sm-4 -->
					</div> <!-- end .row -->
				</div> <!-- end .container -->
			</div> <!-- end .footer -->
			<div class="bottom">Copyright © iSenthil. All Rights Reserved.</div> <!-- end .bottom -->
		</footer>
