
.pageHeader{
    display: grid;
    background-color: #010233;
    
    
    height: 300px;
    
}

.boxContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box1{
    background-color: red;
}

.box2{
    background-color: #2C11C5;
}

.box3{
    background-color: #BD19A1;
}