
 <div class="wrapper">

    <div class="menu">
        <app-menu></app-menu>

    </div>



    <div class="header">
      <div class="myName">
          <span class="header-first-name">SENTHIL</span> <span class="header-last-name">KUMARAN</span>
      </div>
      <div class="desg">
          Passionate about Software Development
      </div>
    </div>

    <div class="image">
        <img src="../assets/isenthil-worked.jpeg" class="pic" />
    </div>



    <div class="boxContainer">

        <div class="box1">
            For the examples to follow
            For the examples to follow
            For the examples to follow
            For the examples to follow
            For the examples to follow
            For the examples to follow
        </div>

        <div class="box2">
              For the examples to follow
              For the examples to follow
              For the examples to follow
              For the examples to follow
              For the examples to follow
              For the examples to follow
        </div>

        <div class="box3">
              For the examples to follow
        </div>

    </div>

    <app-footer></app-footer>
      
 </div>
