
.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "menu"
    "header"
    "image"
    "boxContainer"
}

.menu{
    grid-area: menu;
    

}



.header{
    background-color: #010233;
    height: 300px;
    grid-area: header;
}

.image{
    grid-area: image;

    display: grid;
    grid-template-columns: ifr;
    justify-content: center;
}

.pic{
    border: 1px solid white;
    margin-top: -100px;
    margin-bottom: 50px;
    width: 250px;
    height: 250px;
}

@media (max-width: 768px){
    /* .wrapper{
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        grid-template-rows: auto;
        grid-template-areas: 
        "menu"
        "header"
        "image"
        "boxContainer"
        
    } */

    .wrapper .boxContainer{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "box1"
        "box2"
        "box3"
    }

    .boxContainer .box1{
        background-color: orangered;
    }

    .pic{
        width: 175px;
        height: 175px;
    }
    
    
}

.boxContainer{
    grid-area: boxContainer;
    display: grid;

    grid-gap: 20px;
    margin: 0 20px 0 20px;
    
    /* align-content: space-around;
    justify-content: space-between; */

    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "box1 box2 box3" 
}

.box1, .box2, .box3{
    
    
}

.box1{
    background-color: #C28080;
    /* margin: 20px; */
    /* height: 300px; */
    grid-area: box1;
}

.box2{
    background-color: #11C511;
    /* height: 300px; */
    /* margin: 20px; */
    grid-area: box2;
    
}

.box3{
    background-color: #752175;
    /* margin: 20px; */
    /* height: 300px; */
    grid-area: box3;
    
}