
 <div class="wrapper">   
    <div class="boxContainer">

        <div class="box1">
            For the examples to follow
            For the examples to follow
            For the examples to follow
            For the examples to follow
            For the examples to follow
            For the examples to follow
        </div>

        <div class="box2">
              For the examples to follow
              For the examples to follow
              For the examples to follow
              For the examples to follow
              For the examples to follow
              For the examples to follow
        </div>

        <div class="box3">
              For the examples to follow
              For the examples to follow
              For the examples to follow
              For the examples to follow
              For the examples to follow
              For the examples to follow
              For the examples to follow
        </div>

    </div>

 </div>
